<!DOCTYPE html>
<html >
<head>
<meta charset="UTF-8">
<title>小小宠物店-登陆界面</title>
<link rel="stylesheet" href="../public/css/login.css">
<script  src="../public/js/ajax.js"></script>
</head>

<body>
<main>
  <form class="form">
    <div class="form__cover"></div>
    <div class="form__loader">
      <div class="spinner active">
        <svg class="spinner__circular" viewBox="25 25 50 50">
          <circle class="spinner__path" cx="50" cy="50" r="20" fill="none" stroke-width="4" stroke-miterlimit="10"></circle>
        </svg>
      </div>
    </div>
    <div class="form__content">
      <h1>登陆</h1>
      <div class="styled-input">
        <input type="text" class="styled-input__input" name="nickname"  autocomplete="off"  maxlength="12" onkeyup="value=value.replace(/[\W]/g,'') "
onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))">
        <div class="styled-input__placeholder"> <span class="styled-input__placeholder-text">Username</span> </div>
        <div class="styled-input__circle"></div>
      </div>
      <div class="styled-input">
        <input type="password" class="styled-input__input"  autocomplete="off" maxlength="12" onkeyup="value=value.replace(/[\W]/g,'') "
onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))">
        <div class="styled-input__placeholder"> <span class="styled-input__placeholder-text">Password</span> </div>
        <div class="styled-input__circle"></div>
      </div>
      <button type="button" class="styled-button"> <span class="styled-button__real-text-holder"> <span class="styled-button__real-text">Submit</span> <span class="styled-button__moving-block face"> <span class="styled-button__text-holder"> <span class="styled-button__text">Submit</span> </span> </span><span class="styled-button__moving-block back"> <span class="styled-button__text-holder"> <span class="styled-button__text">Submit</span> </span> </span> </span> </button>
    </div>
  </form>
</main>

<script  src="../public/js/login.js"></script>
<script  src="../public/js/lign.js"></script>
</body>
</html>
